links/*
aers_data_files/*
src/bioportal_links.nt
*.pyc
.project
.pydevproject
src/output.n3
dumps/*
*.nt
indexdir/*
links/country_links.nt
links/diagnosis_links.nt
links/drug_links.nt
*.pickle
src/wegwerp/*
*.ipynb
aersld_convert_output/*

